@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  font-family: Outfit;
}


@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;
  --font-Outfit: "Outfit", "sans-serif";
  --font-Ovo: "Ovo", "serif";
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
  --background-image-footer-color: url("/footer-bg-color.png");
}


@layer base {
  :root {  
    --nav-bg: rgba(255, 255, 255, 0.5);
    --menu-bg: rgba(255, 255, 255, 0.5);
    --menu-border: transparent; 
  }

  html.dark {
    --nav-bg: var(--color-dark-theme);
    --menu-bg: transparent;
    --menu-border: rgba(255, 255, 255, 0.5);
    --color-light-hover: #fcf4ff; 
    --color-dark-hover: #2a004a;
    --color-dark-theme: #11001f;
    --shadow-black: 4px 4px 0 #000;
    --shadow-white: 4px 4px 0 #fff;

    background-color: var(--color-dark-theme);
    color: #ffffff;
  }

  @layer utilities {
    html.dark .dark\:hidden {
      display: none !important;
    }

    html.dark .dark\:block {
      display: block !important;
    }
  }
}
